<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="shadow">
                <h2 class="kvsTitle mb-0">Personal Details:</h2>
                <!-- <div class="bg-white p-3">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Employee Name</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Post Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Subject Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Employee Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        </div>
                        <hr/>
                        <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Present Station Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Present KV Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Shift(1/2)</h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                              </div>
                        </div>

                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet">Date of Joining in KVS in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet">Date of Joining in Present station in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet">Date of Joining in Present KV in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h4 class="titleSet"><span class="text-green"> 7 (A)</span> If you are presently posted at Hard / NE station then date of continuous posting in Hard / NE station in present post</h4>
                            <input type="date" class="form-control" style="width:250px;">
                        </div>
                        <div class="col-md-12 mb-3">
                            <h4 class="titleSet"><span class="text-green"> 7 (B)</span> Have you been transferred on adminitrative ground under  Para 7(e) and not completed 03 years at the present station as on 30-06-2021</h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                              </div>
                        </div>
                        <div class="col-md-12 ">
                            <h4 class="titleSet"><span class="text-green"> 7 (C)</span>  Have you been rectruited under special rectruiment for NER</h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">2</label>
                              </div>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Date of Birth</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Gender</h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                              </div>
                        </div>
                    </div>
                </div>  -->
                <!-- <div class="bg-white p-3">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Employee Name</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet"> <span class="text-green">2</span> Teacher Id</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Subject Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Employee Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        </div>
                        <hr/>
                        <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet"><span class="text-green">3</span> Present Station Code</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Present KV Code</h4>
                            <input type="text" class="form-control">
                        </div>

                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">  Date of Birth</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet">Gender</h4>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                        </div>
                        

                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet"><span class="text-green">4</span> Date of Joining in KVS in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet"><span class="text-green">5</span> Date of Joining in Present station in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                        <div class="col-md-4 mb-3">
                            <h4 class="titleSet"><span class="text-green">6</span> Date of Joining in Present KV in Present Post</h4>
                            <input type="date" class="form-control">
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h4 class="titleSet"><span class="text-green"> 7 (A)</span> If you are presently posted at Hard / NE station then date of continuous posting in Hard / NE station in present post</h4>
                            <input type="date" class="form-control" style="width:250px;">
                        </div>
                </div>

                    <hr>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet"> Home Town</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet"> District</h4>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <h4 class="titleSet"> State</h4>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                </div>  -->





                <div class="bg-white pt-3 p-3">
                    <!-- new station add -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="shadow px-3 pt-3">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <h4 class="titleSet">Employee Name</h4>
                                                <input type="text" class="form-control" value="{{teacherData.teacherName}}">
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <h4 class="titleSet">Employee Code</h4>
                                                <input type="text" class="form-control"  value={{teacherData.teacherEmployeeCode}}>
                                            </div>
                                           
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="image">
                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                                    <label for="imageUpload"></label>
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="titleSet text-center"> Teacher Id :  <span class="text-green"> 212454</span></h4>
                                    </div>
                                   
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">  Date of Birth</h4>
                                        <input type="date" class="form-control" value="{{teacherData.teacherDob}}">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Gender</h4>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [checked]="genderMale" id="inlineRadio1" value="">
                                            <label class="form-check-label" for="inlineRadio1">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" [checked]="genderFemale" id="inlineRadio2" value="">
                                            <label class="form-check-label" for="inlineRadio2">Female</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> Home Town</h4>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> District</h4>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> State</h4>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> Employee Type</h4>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="shadow px-3 pt-3">
                                 <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="f502 mb-0">Present Position Details</h2>
                                    </div>
                                     <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Post Code</h4>
                                        <input type="text" class="form-control">
                                     </div>
                                     <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Subject Code</h4>
                                        <input type="text" class="form-control">
                                     </div>
                                     <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> Present Station Code</h4>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Present KV Code</h4>
                                        <input type="text" class="form-control">
                                    </div>
                                   
                                    <div class="col-md-12">
                                        <h2 class="f502 mb-0"> Date of Joining in KVS in </h2>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet"> KVS in Present Post</h4>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Present station in Present Post</h4>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">  Present KV in Present Post</h4>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <h4 class="titleSet">Training JN KVS </h4>
                                        <input type="text" class="form-control">
                                    </div>
                                    
                                 </div>
                            </div>
                        </div>
                    </div>
                    <!-- new station add -->

                </div> 
            </div>
        </div>
    </div>
</div>