input.ng-invalid.ng-touched{
    border-left: 3px solid red;
}
input.ng-valid.ng-touched{
    border-left: 3px solid green;
}
/* input.ng-invalid{
    border-left: 3px solid red;
}
input.ng-valid{
    border-left: 3px solid green;
} */
/* input.ng-touched{
    border-left: 3px solid green;
} */

/* select.ng-invalid.ng-touched{
    border-left: 3px solid red;
} */
/* select.ng-invalid{
    border-left: 3px solid red;
} */
/* select.ng-valid.ng-touched{
    border-left: 3px solid green;
} */
/* select.ng-valid{
    border-left: 3px solid green;
}
textarea.ng-valid{
    border-left: 3px solid green;
}
textarea.ng-invalid{
    border-left: 3px solid red;
} */

.required-asterisk{
    color: red;
    margin-left: 3px;
    font-size: 1em;
  }

  .reaetPassword{width:450px; display: flex; left:50%; top:50%; transform:translate(-50%, -50%); background-color:#ffffff;
    box-shadow: 1px 1px 4px 0.5;     border: 1px solid #e0e9e7 ! important; border-radius: 5px;  height:630px;  }
  .reaetPassword h1{
    color: #eafffb;
}
.reaetPassword label{
    color: #484848;
    font-weight: 500;
    font-size: 14px;
}
.rReset{background-color: #24695c; height:250px; border-top-right-radius: 5px; border-top-left-radius: 5px;}

.border-radius {
    border-radius: 29px;
}

i.bx.bx-reset {
    font-size: 3rem;
}

@media (max-width:767px) 
{
    .reaetPassword{width:100%; display: flex; left:50%; top:50%; transform:translate(-50%, -50%); background-color:#ffffff;
        box-shadow: 1px 1px 4px 0.5;     border: 1px solid #e0e9e7 ! important; border-radius: 5px;  height:560px; padding:15px;  }
        .px-5 {
            padding-right:1rem!important;
            padding-left: 1rem!important;
        }
        .border-radius{
            border-radius:5px;
        }
        .p-5 {
            padding:1rem!important;
        }
        .mx-5 {
            margin-right:1rem!important;
            margin-left:1rem!important;
        }
}