

    <div class="reaetPassword card shadow-sm">
        <div class="rReset">

         <h1 class="py-3 px-5 mt-4">
            <i class='bx bx-reset'></i>
         <br>
            Reset Password</h1>
        <div class="bg-white p-5 mx-5 shadow-sm border-radius">
            <form [formGroup]="changePaswordForm">
                <div class="mb-3">
                    <label>User ID <span>*</span></label>
                    <input (change)="userIdCheck($event)" type="text" class="form-control" id="userId"
                        formControlName="userId" name="userId" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label>Old Password <span>*</span></label>
                    <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
                        name="oldPassword">
                </div>
                <div class="mb-3">
                    <label>New Password <span>(8-12 Characters) *</span></label>
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
                        name="newPassword" placeholder="Enter New Password" maxlength="12" minlength="8">
                </div>
                <div class="mb-3">
                    <label>Confirm New Password <span class="required-asterisk">*</span></label>
                    <input type="password" class="form-control" id="confirmPassword"
                        formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm Password" maxlength="12" minlength="8">
                    <span *ngIf="changePaswordForm.controls['confirmPassword'].hasError('passwordNotSame')"
                        class="text-danger">Password not same</span>
                </div>

                <div class="mb-2" style="text-align:center">
                    <button [disabled]="!changePaswordForm.valid" type="submit" class="btn btn-success"
                        (click)="onSubmit()">Submit</button>
                </div>
            </form>

        </div>
    </div>
    </div>

