<nav
    class="sb-topnav navbar navbar-expand navbar-light">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html"><img src="assets/assets/img/emblem.png" class="img-fluid" alt=""></a>
    <!-- Sidebar Toggle-->
    <!-- <a id="sidebarToggle" href="#!">
        <i class='bx bx-chevrons-left'></i>
    </a> -->

    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 mx-2 my-md-0">
        <div class="input-group">
            <!-- <input class="form-control form-control-sm" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch"/> -->
            <!-- <button class="btn btn-default btn-sm" id="btnNavbarSearch" type="button">
                <i class='bx bx-search bxStyle'></i>
            </button> -->
        </div>
    </form>
    <!-- <form class="mr-2" #form action='https://pgi.udiseplus.gov.in/SpringAuthSecurity/logout?returnTo=https://pgi.udiseplus.gov.in/school' method='post' style="padding-right:15px; cursor: pointer;">
        <a (click)="form.submit();authlogout()" class="btn btn-sm btn-green-logout py-2">
            <i class='bx bx-log-in-circle'></i>
            Log Out</a>
    </form> -->

     <!-- <form class="mr-2" #form action='https://kvsdemo.udiseplus.gov.in/SpringAuthSecurity/logout?returnTo=https://kvsdemo.udiseplus.gov.in/school' method='post' style="padding-right:15px; cursor: pointer;">
        <a (click)="form.submit();authlogout()" class="btn btn-sm btn-green-logout py-2">
            <i class='bx bx-log-in-circle'></i>
            Log Out</a>
    </form> -->

    <form class="mr-2" #form [action]='logoutUrl' method='post' style="padding-right:15px; cursor: pointer;">
        <a (click)="form.submit();authlogout()" class="btn btn-sm btn-green-logout py-2">
            <i class='bx bx-log-in-circle'></i>
            <span class="Log_Out"> Log Out</span></a>
    </form>

  



    <!-- <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        
            <button type="button" class="btn btn-yellow" (click)="form.submit();">
                <form class="mr-2" #form action='http://10.25.26.251:8385/meauth/logout?returnTo=http://10.25.26.10:6200/' method='post'> 
                <i class='bx bx-log-in-circle'></i>
                Log Out
            </form>
        </button>
    
    <div class="dropdown">
        <button type="button" class="btn  btn-success"><i class='bx bxs-chevron-down'></i></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div> -->


</nav>
