/* i.bxs-chevron-down {
    background: #e9f0ee;
    padding: 5px 10px 5px;
    color: #24695c;
    font-size:20px; font-weight: 500;
    cursor:pointer;
    border-radius: 5px;
} */

.btn{ border-radius: 0px !important;}
.dropdown-menu {
    top: 100%;
    left: -140px ! important;
    margin-top:0px;
}

.btn.btn-yellow {
    background: #cf8746;
    border: 1px solid white;
    color: white;
}

.bxs-chevron-down:before {
    content: "\ea27";
    font-size: 24px;
}
.btn-success {
    color: #fff;
    background-color: #24695c ! important;
    border-color: #ffffff ! important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #f5f5f5;
    background-color: #24695c;
}
@media (max-width:500px)
{
    span.Log_Out {
        display: none;
    }
}
