
<div class="container">
    <img src="/assets/assets/img/step123.jpg" style="width: 100%" class="img-responsive">
    <!-- <div class="card shadow mt-5 p-3 close">
       
        <h2 style="font-size:24px; font-weight:600; color:#333; margin-bottom:20px;">Basic Process Flow</h2>
        <table class="table table-step">
            <thead>
                <tr>
                    <th width="10%">Actor</th>
                    <th colspan="5" class="deep">Basic Profile Module</th>
                    <th colspan="2">Employee Transfer Module</th>
                </tr>
            </thead>
            <tbody>
                <tr class="sub-head">
                    <th style="border-right: 1px solid #e9fff5; background-color: #d2e9df;">&nbsp;</th>
                    <th class="deep" style="border-right: 1px solid #bbe3d1; background-color: #f5fffa;">STEP 1
                        <img src="assets/assets/img/image/next.png" alt="" style="margin-left:10px;"></th>
                    <th class="deep" style="border-right: 1px solid #bbe3d1; background-color: #f5fffa;">STEP 2
                        <img src="image/next.png" alt="" style="margin-left:10px;"></th>
                    <th class="deep" style="border-right: 1px solid #bbe3d1; background-color: #f5fffa;">STEP 3
                        <img src="assets/assets/img/image/next.png" alt="" style="margin-left:10px;"></th>
                    <th class="deep" style="border-right: 1px solid #bbe3d1; background-color: #f5fffa;">STEP 4
                       <img
                            src="assets/assets/img/image/next.png" alt="" style="margin-left:10px;">
                    </th>
                    <th class="deep" style="border-right: 1px solid #bbe3d1; background-color: #f5fffa;">STEP 5
                        <img src="assets/assets/img/image/next.png" alt="" style="margin-left:10px;"></th>
                    <th style="border-right: 1px solid #e9fff5; background-color: #d2e9df;">Step 6
                       <img
                            src="assets/assets/img/image/next.png" alt="" style="margin-left:10px;">
                    </th>
                    <th style="background-color: #d2e9df;">Step 7</th>
                </tr>
                <tr>
                    <th align="center" style="background-color:#fbfaf0; border-right:1px solid #ebe9dc;">
                        <img src="assets/assets/img/image/admin-icon.png" alt="" style="margin-top:50px; margin-bottom:10px;">
                        <br>
                        School Admin/Principal
                    </th>
                    <td class="stepcolor">Login in the Portal through User Credentials and Check basic
                        Information: <br>
                        UDISE Code, KVS CODE, School Location, No. of teaching &amp; Non-Teaching Staff
                        <img src="assets/assets/img/image/next.png" alt="">
                    </td>
                    <td class="stepcolor">Add/Move the Staffs
                        <ul>
                            <li>Move all those Staff to Dropbox who does not belong to your school as on date.
                            </li>
                            <li>If the Staffs are not available, then Click on Add New Teacher. In case
                                available on Other School Dropbox, push them at your School.</li>
                        </ul>
                        <img src="assets/assets/img/image/next.png" alt="">
                    </td>
                    <td class="stepcolor">Creation of Login Credentials for all the Verified Staffs<img
                            src="assets/assets/img/image/next-down.png" alt="" class="down"></td>
                    <td class="non-stepcolor">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="stepcolor">School Verify and Submit the same.<br>
                        If required school may edit the data as per service book record available with school.
                        <img src="assets/assets/img/image/next-down.png" alt="" class="down">
                    </td>
                    <td class="non-stepcolor">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td class="stepcolor">Verify the Transfer Application Submitted by Teacher.<br>
                        If required school may modify (only transfer related data not all profile) the
                        transfer.<br>
                        Submission of the Edited Data by School Authority.</td>
                </tr>
                <tr>
                    <th align="center" style="background-color:#fbfaf0; border-right:1px solid #ebe9dc;"><img
                            src="assets/assets/img/image/staff-icon.png" alt="" style="margin-top:50px; margin-bottom:10px;">
                        <br>
                        Teaching &amp; Non Teaching Staffs</th>
                    <td class="non-stepcolor">&nbsp;</td>
                    <td class="non-stepcolor">&nbsp;</td>
                    <td class="non-stepcolor">&nbsp;</td>
                    <td class="stepcolor">Receive the User Credentials through Email/SMS.<br>
                        Teacher Complete his/her profile data and submit to School.<img src="assets/assets/img/image/next-up.png"
                            alt="" class="up"></td>
                    <td class="non-stepcolor">&nbsp;</td>
                    <td class="stepcolor">The Teacher Transfer Form get Enabled.<br>
                        Teacher will fill all the transfer related details and submit the form.*<img
                            src="assets/assets/img/image/next-up.png" alt="" class="up"></td>
                    <td class="non-stepcolor">&nbsp;</td>
                </tr>
        </table>
    </div> -->
</div>