.top-pan {
    background-color: #ffffff;
    padding: 5px 0px;
    border-bottom: 1px solid #eeeeee;
}
ul.topbargovt li { color: #000;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 3px 10px 3px 0px;
}
ul.topbargovt li:last-child{ border-right:none;}
ul.accblty { float: right; width: auto; margin:7px 0 0 0; padding:0;}
ul.accblty li {
    display: inline-block;
    margin-right: 15px;
    line-height: 1em;
}
ul.accblty li a {
    color:#161616;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto'
}
body{background-color: #ffffff ! important;}
.abt-wrap {
    background: url(..//..//../assets/assets/img/teacher-pic.png) 0 0 no-repeat;
    min-height: 507px;
    margin-top: 90px;
}
.container-fluid{ width:1420px;}
.abt-wrap {
	background:url(..//..//../assets/assets/img/teacher-pic.png) 0 0 no-repeat;
	min-height:507px;
	margin-top:90px;
}

.backEffect{ clip-path: polygon(0 1%, 100% 0%, 100% 100%, 20% 100%); background-color:#fff8f2;
}
.abt-cont h1 {
	font-size:3em;
	line-height:1.2em;
	font-weight:600;
}
.abt-cont p {
	font-size:1.3em;
	line-height:1.6em;
	font-weight:300;
    color: #000;
	margin-top:20px;
    font-family: -webkit-pictograph;
}
.btn-round {
  background-color:#ff5556;
  color:#fff;
  border-radius: 50em;
  border: 4px solid transparent;
  font-size:1.2em;
  font-weight:300;
  padding:12px 25px;
  margin-top:40px;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.btn-round:hover {
	background-color:#f55152;
}
.curveBg {
    background: url(..//..//../assets/assets/img/curve-bg.jpg) 0 0 no-repeat;
    min-height: 188px;
}
ul.stats {
	list-style-type:none;
    margin: 50px 0 0 0;
	padding:0;
}

ul.stats li {
	display:inline-block; padding: 0px 30px 0px 0px; margin-right: 10%;

}
ul.stats li h2 {
    font-size: 2.1em;
    font-weight: 600;
    line-height:0.8em;
}
ul.stats li h3 {
	font-size:1.3em;
	font-weight:400;
	line-height:1.1em;
	color:#7d7574;
}
ul.stats li:last-child {
	margin-right:0;
}
.nav-mt {
	padding: 50px 0px;;
}
.nav-link:hover, .nav-link.active {
    color: #fff;
    background-color: #000;
}
h2.heading {
	font-size:2em;
	font-weight:700;
	padding-bottom:16px;

}
.headMt {
	margin-top:80px;
}
h2.heading span {
	font-weight:300;
}
p.bodyText {
	font-size:1.3em;
	line-height:1.9em;
	margin-top:30px;
	font-weight:300;
    font-family: -webkit-pictograph;
}
.nav-link {
    display: block;
    padding: 0.2rem 0.3rem!important;
    margin-right: 1.5em;
    color: #000;
    border-radius: 0.3em;
}
.nav-mt {
    margin-top: 50px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(255 255 255 / 90%);
    background: black;
    border-radius: 3px;
}
.module {
	background-color:#fff;
	padding:30px;
	margin-top:18%;
	box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.14);
	-webkit-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px 0px 21px 6px rgba(0,0,0,0.14);
	border-radius: 10px 10px 10px 10px;
}

.list-group-item {
    font-size: 1.3em;
	font-weight:400;
}

.list-group-item a {
	color:#393939;
	text-decoration:none;
    line-height: 20px;
    font-family: -webkit-pictograph;
}
.list-group-item a:hover {
	color:#000;
	text-decoration:none;
}

.onBoard {
	padding:40px 40px 20px 40px;
	margin-top:20px;
	border-radius: 10px 10px 10px 10px;
	text-align:center;
}
.onBoard h2.heading1 {
	font-size:2.6em;
	font-weight:700;
	padding-bottom:16px;
	text-align:center;
	margin-bottom:40px;
}

body,
body.mat-typography {
    background-color: white ! important;
}

.gk h2,
.jk h2 {
  position: relative;
}
.gk h2::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 100px;
  height: 2px;
  background-color: #ff5556;
}

.jk h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 2px;
    transform: translate(-50%);
    background-color: #ff5556;
}

.OrgNi{
   background:url(..//..//../assets/assets/img/pattern.png) 0 0 repeat;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}
.container-fluid.gk {
    padding-bottom: 70px;
}



.container-fluid { max-width: 90%; }
.navbar-light .navbar-nav .nav-link {
    /* color: rgb(50 50 50 / 79%); */
    font-weight: 500;
    font-family: 'roboto',sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
.ImgSetNic{text-align: right; float:right;}
.rounded-top {
    border-top-left-radius: 1rem!important;
    border-top-right-radius: 1rem!important;
}
.aboutBg{background-color: #fff8f2; padding: 30px; margin-top: 30px;}
h3.font58585 { font-size: 1rem; font-weight: 500;letter-spacing: 1px;}
.item {background: white; padding: 15px;}
/* h6.titleOur {
    font-size: 1.7em;
    color: white;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}
h2.titleOurTeacher {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}


h6.totalOur
{
    font-size: 2em;
    color: #FAF1C7;
    line-height: 2.2rem;
    font-weight: 600;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}

h2.totalOurTeacher {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
}
h4.totalCount
{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color:#3B3C3A;
    font-family: 'Montserrat',sans-serif;
}
.teacher-onboard {
    width: 97%;
}

.abt-teacher h2 {
	font-size:5em;
	font-weight:700;
	line-height:0.9em;
	color:#fff;
}
h6.titleOur {
	font-size:1.7em;
    line-height: 1.5em;
	font-weight:500;
}
.abt-teacher p {
	font-size:1em;
	font-weight:400;
	line-height:1.8em;
	color:#f7f7f7;
    letter-spacing: 1px;
    font-family: 'Montserrat',sans-serif;
	margin-top:30px;
}
.p30{padding:150px 0px;}
.onboard-number{text-align: right; float: right; margin-top: 62px;}
nav#navbar_top {
  background: #fff;
}

.teacher-onboard {
  background-color: #dec235;
   position:relative;
  overflow: hidden;
}

.teacher-active {
  background-color: #16619a;
  position:relative;
  overflow: hidden;
}
.TeacherOn li{ list-style: none; display: inline-table; color:#fff; font-weight: 500;   float:left;  width: 46%;}
.p256{padding: 7.8% 0px 7.8% 7%;}
.pab{ position: relative;}
.pab img{position:absolute;}
.pab img{ position: absolute; top: 120px;  right: 0px;}
h2.totalOurTeacher { font-size: 2.5rem; font-weight: 600;  color: #fff;  letter-spacing: 1px;  font-family: 'Montserrat',sans-serif;}
.our-teacher{ background: #fff; padding:70px 0px;}
.ourTeacherDetails{text-align: center; font-size:2.2rem; color:#202020; font-weight: 600;}
.teacherPara{ color:#A3A3A3; letter-spacing: 1px; line-height: 1.1rem; text-align: center; font-family: 'Montserrat',sans-serif; font-weight: 500;}
.teachermama{ color:#A3A3A3; letter-spacing: 1px; line-height: 1.1rem; text-align:left; font-family: 'Montserrat',sans-serif; font-weight: 400;}
.TeacherApproval{font-size:1rem; color:#666666; letter-spacing: 1px; font-weight: 500; }
.TaAmount{ font-size:1.2rem; color:#15619B; letter-spacing: 1px; font-weight: 800; }
.our-mangement{background-color:#F7F8FC; padding:50px 0px;}
.LetUsShow{ color:#4F5253; font-size:1.2rem; letter-spacing: 1px; line-height: 1.1rem; text-align:left; font-family: 'Montserrat',sans-serif; font-weight: 500;}
h5.ManagementWiseTe{ color:#1B2021; font-size: 1.8rem ! important;    letter-spacing: 1px;    line-height: 2rem; text-align:left; font-family: 'Montserrat',sans-serif ! important; font-weight: 700;}
.GovSector{ text-align: center; background-color: #FDFDFD;}
.GovSector li{list-style: none; width: 50%; display: inline-table;}
.govGk{ color:#262A2B; font-size: 1rem; line-height:1.8rem;  margin-top:5px; letter-spacing: 1px;  font-weight: 900;}
.AmoiuvGk{color:#878787; font-size: 0.8rem ! important; line-height:1rem; letter-spacing: 1px;  font-weight: 600;}
.b11{ border-bottom: 1px solid #F0F0F0; border-right: 1px solid #F0F0F0;}
.b12{ border-bottom: 1px solid #F0F0F0; }
.b13{ border-right: 1px solid #F0F0F0;}
.gkRight{  float:right} */
.footerSet{ background-color: #fbf4ee; padding:50px 0px }
.footerPara{ color:#393939;font-size: 1.1em;
    line-height: 1.6em; font-weight:400; letter-spacing: 1px; padding:0px; text-align: left; font-family: -webkit-pictograph;}
.footerUl{list-style: none; padding:0px; margin:0px; }
.footerUl li a{list-style: none; color: #161616;    font-weight: 500;    font-size: 1em;
    line-height: 1.6em; font-family: -webkit-pictograph; transition:0.5s ease-in;
    letter-spacing: 1px; text-decoration: none; }
.footerUl li a:hover{list-style: none; color: #f44336; font-size:1em ! important; font-weight: 500; font-family: -webkit-pictograph;
        letter-spacing: 1px; text-decoration: none; margin-left: 3px; }
    




@media (min-width: 1400px)

{
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 75%;
    /* margin-left: 21%; */
}
}
.UlBox li{
    display: inline-block;
}

 .box{
    background-color:#fff;
  padding:30px;
  width:22%;
  margin:12px 10px;
  box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.02);
  -webkit-box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.02);
  -moz-box-shadow: -1px 2px 5px 9px rgba(0,0,0,0.02);
  border-radius: 5px;
  min-height:190px;
  text-align:center;
}
 .box h3 {
  font-size:1.6em;
  font-weight:600;
  line-height:1.5em;
  text-align:center;
  margin-top:10px;
}
 img {
  display:inline-block;
  width:auto;
  text-align:center;
}

@media (max-width: 767px)
{
    .abt-wrap {
        background: linear-gradient(#fff8f2b8, #fff8f2b8),  url(..//..//../assets/assets/img/teacher-pic.png) 0 0 no-repeat;
        min-height: 507px;
        margin-top: 90px;
    }
    .aboutBg{
        background-color: #fff8f2;
        padding: 15px;
     margin-top: 15px;
    }
    .container-fluid {
        max-width: 100%;
    }
    img.emblem-resp {
        width: 100%;
        text-align: center;
    }
    .d-flex.flex-row-reverse.nic-resp {
        text-align: center;
        margin: 0px auto;
        width: 100px;
        margin-top: 15px;
    }
    ul.stats{
        list-style-type: none;
        margin: 50px auto 0px;
        padding: 0;
        text-align: center;
    }

    ul.stats li {
        margin-bottom: 30px;
        padding: 0px 0px 0px 0px;
    }
    .abt-cont h1{
        font-size: 2em;
        line-height: 1.2em;
        font-weight: 600;
    }
    .ms-3 {
     margin-left: 0rem!important;
    }
    .owl-theme .owl-nav {
        margin-top: 10px;
        -webkit-tap-highlight-color: transparent;
        position: revert ! important;
        right: 0px ! important;
    }
    .footerUl li a{
        list-style: none;
        color: #201200;
        font-weight: 600;
        font-size: 1em;
        line-height: 1.6em;
        font-family: 'Montserrat',sans-serif;
        transition: 0.5s ease-in;
        letter-spacing: 1px;
        text-decoration: none;
    }
    .footerPara {
        color:#181818;
        font-size: 1.1em;
        line-height: 1.6em;
        font-weight: 400;
        letter-spacing: 1px;
        padding: 0px;
        text-align: left;
        font-family: revert;
    }
    .top-pan ul li {
        color: #000;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 3px 10px 3px 0px;
        font-family: 'Montserrat',sans-serif;
        text-align: center;
        margin-top: 15px;
    }
    .list-inline-item {
        display: block;
    }
    ul.accblty {
        display: none;
    }
    .abt-wrap{margin-top:30px ! important; }
    .nav-mt {
        padding: 00px 0px ! important;
        margin-top:0px ! important;
    }
    .headMt {
        margin-top: 43px  ! important;
    }
    h2.heading{
        font-size: 1.5em;
        font-weight: 700;
        padding-bottom: 16px;
    }
    .border-end {
     border-right:none!important;
    }
    .border-right {
         border-right:none; 
    }
    .onBoard h2.heading1 {
        font-size: 1.4em;
        
    }
    
}