<div class="row profile-greeting">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="d-flex align-items-right">
            <div
                class="flex-grow-1 me-3 text-end"><!-- <h2 class="text-white mb-0">Teachers</h2>
                                    <p class="mb-0 text-white">Teacher Text</p> -->
            </div>
            -->
            <div class="flex-shrink-0">
                <img src="assets/assets/img/kvs-logo-wht.png" alt="..."/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="progileList ms-3">
            <ul>
                <li class="w120">
                    <div class="UserImageSet">
                        <img src="assets/assets/img/s.jpg" width="120px" height="140px"/>
                    </div>
                </li>
                <li class="bdrRight">
                    <span class="TittleSet">Gopi Khatana</span>
                    <p class="mb-0 pText">Sr. Teacher, Kvs</p>
                </li>
                <li class="">
                    <div class="clearfix">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/assets/img/dob.svg" width="24px" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="TittleSet">
                                    DOB
                                </span>
                                <p class="mb-0 pText">30-12-1990</p>
                            </div>
                        </div>
                    </div>

                </li>
                <li class=" ">
                    <div class="clearfix">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/assets/img/email.svg" width="24px" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="TittleSet">
                                    E-mail
                                </span>
                                <p class="mb-0 pText">gopi.jitin@gmail.com</p>
                            </div>
                        </div>
                    </div>

                </li>

                <li class=" ">
                    <div class="clearfix">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="assets/assets/img/mobile.svg" width="24px" alt="...">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <span class="TittleSet">
                                    Phone
                                </span>
                                <p class="mb-0 pText">701491622</p>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>


        </div>

        <div class="SchoolDetails">
            <div class="d-flex align-items-center">

                <div class="flex-grow-1 ms-3">

                    <p class="mb-0">
                        <span class="TittleSet">
                            School
                        </span>
                        <span class="pText">: Kendriya Vidyalaya Vigyan Vihar (NFC), Near Vivek Vihar Police Station, Vigyan Vihar,Delhi – 110092
                        </span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-5">

        <div class="feature">
            <h4 class="Wishes mb-3 ">
                Carrier Time Line</h4>
        </div>
        <div class="card p-3 shadow scrollbar " id="style-7" style="height:375px; overflow-y: scroll;">
            <div class="mt-2">
                <ul>
                    <li class="pText bdrRight pe-3">
                        Total Years of
                        <span class="bold">Service   25 yr.
                        </span>
                        <!-- <span class="text-value">
                                                    25 yr.</span> -->
                    </li>
                    <li class="pText ps-3">
                        Total Years of
                        <span class="bold">Left 10 yr.
                        </span>
                        <!-- <span class="text-value">
                                                    10 yr.</span> -->
                    </li>
                </ul>
                <div class="timeline mt-5">
                    <div class="timeline__component">
                        <div class="timeline__date timeline__date--right">2001 - 2004</div>
                    </div>
                    <div class="timeline__middle">
                        <div class="timeline__point"></div>
                    </div>
                    <div class="timeline__component timeline__component--bg">
                        <h2 class="timeline__title">Kendriya Vidyalaya Vigyan Vihar (NFC)</h2>
                        <p class="timeline__paragraph">
                            Near Vivek Vihar Police Station, Vigyan Vihar,Delhi – 110092
                        </p>
                    </div>
                    <div class="timeline__component timeline__component--bg">
                        <h2 class="timeline__title">Kendriya Vidyalaya Vigyan Vihar (NFC)</h2>
                        <p class="timeline__paragraph">
                            Near Vivek Vihar Police Station, Vigyan Vihar,Delhi – 110092
                        </p>
                    </div>
                    <div class="timeline__middle">
                        <div class="timeline__point"></div>
                    </div>
                    <div class="timeline__component">
                        <div class="timeline__date">2004- 2006</div>
                    </div>
                    <div class="timeline__component">
                        <div class="timeline__date timeline__date--right">2006-2008</div>
                    </div>
                    <div class="timeline__middle">
                        <div class="timeline__point"></div>
                    </div>
                    <div class="timeline__component timeline__component--bg">
                        <h2 class="timeline__title">Kendriya Vidyalaya Vigyan Vihar (NFC)</h2>
                        <p class="timeline__paragraph">
                            Near Vivek Vihar Police Station, Vigyan Vihar,Delhi – 110092
                        </p>
                    </div>
                    <div class="timeline__component timeline__component--bottom timeline__component--bg">
                        <h2 class="timeline__title">Kendriya Vidyalaya Vigyan Vihar (NFC)</h2>
                        <p class="timeline__paragraph">
                            Near Vivek Vihar Police Station, Vigyan Vihar,Delhi – 110092
                        </p>
                    </div>
                    <div class="timeline__middle">
                        <div class="timeline__point"></div>
                        <div class="timeline__point timeline__point--bottom"></div>
                    </div>
                    <div class="timeline__component timeline__component--bottom">
                        <div class="timeline__date">2008</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-7">

        <div class="feature">
            <h4 class="Wishes mb-3 ">Wish Your Collegues</h4>
        </div>
        <div class="card p-4 shadow">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item " role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                        Birthday
                    </button>
                </li>
                <li class="nav-item " role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                        Anniversary
                    </button>
                </li>
                <li class="nav-item  " role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                        Retirement
                    </button>
                </li>
            </ul>
            <div class="px-3">
            <div class="tab-content p-4" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="carousel-wrap">
                        <div class="owl-carousel">
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="carousel-wrap">
                        <div class="owl-carousel">
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="carousel-wrap">
                        <div class="owl-carousel">
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="item text-center shadow-custom   py-2">
                                <img src="assets/assets/img/download.jpg" class="Imghr mt-3"/>
                                <h4 class="mb-0 UserName pt-3">User Name</h4>
                                <p class="mb-0 UserPosition">Teacher</p>
                                <ul class="inlineUl p-3">
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="bx bxl-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
