You can add global styles to this file, and also import other style files

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }
.ff{font-family: 'Montserrat', sans-serif;}
.font16 {
    font-size: 14px;
    color: #737373;
    font-weight: 500;
    letter-spacing: 0.7px;
}
body {
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    color: #242934;
    background-color: #f5f7fb;
}
.checkbox_animated:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    border: 2px solid #e6edef;
    cursor: pointer;
}
.checkbox_animated:checked:before {
    -webkit-transform: rotate(-45deg) scale(1, 1);
    transform: rotate(-45deg) scale(1, 1);
}
.checkbox_animated:before {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75), -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    -webkit-transform: rotate(-45deg) scale(0, 0);
    transform: rotate(-45deg) scale(0, 0);
    content: "";
    position: absolute;
    left: 0.25rem;
    top: 0.225rem;
    z-index: 1;
    width: 0.75rem;
    height: 0.375rem;
    border: 2px solid #24695c;
    border-top-style: none;
    border-right-style: none;
}


.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    font-size: 35px ! important;
    background: #ff5556 ! important;
    padding:3px 7px 8px !important;
    color: white ! important; 
  }
  .border-right {
    border-right: 1px solid #eeeeee;
}
  .owl-carousel{ padding-bottom: 70px;;}


  .form-control,
  .form-select {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Montserrat';
    color: #404040;
  }